asgiref==3.11.1
attrs==26.1.0
autobahn==25.12.2
Automat==25.4.16
cbor2==5.9.0
cffi==2.0.0
channels==4.0.0
channels-redis==4.1.0
charset-normalizer==3.4.7
constantly==23.10.4
cryptography==47.0.0
daphne==4.0.0
dj-database-url==3.1.2
Django==6.0.4
django-cleanup==8.0.0
django-cors-headers==4.3.1
django-extensions==3.2.3
djangorestframework==3.17.1
gunicorn==25.3.0
hyperlink==21.0.0
idna==3.13
Incremental==24.11.0
joblib==1.5.3
msgpack==1.1.2
numpy==2.4.4
packaging==26.2
pillow==12.2.0
psycopg2-binary==2.9.11
py-ubjson==0.16.1
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pyOpenSSL==26.1.0
python-decouple==3.8
redis==7.4.0
reportlab==4.4.10
scikit-learn==1.8.0
scipy==1.17.1
service-identity==24.2.0
sqlparse==0.5.5
threadpoolctl==3.6.0
Twisted==25.5.0
txaio==25.12.2
typing_extensions==4.15.0
tzdata==2025.3
ujson==5.12.0
zope.interface==8.4
